<!DOCTYPE html>
<html>
<head>
  <title>Translator</title>
  <%= stylesheet_link_tag    "translator/application", media: "all" %>
  <%= javascript_include_tag "translator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
